@font-face {
  font-family: 'PantonBlack';
  src: url("../../../../../fonts/PantonBlack.eot");
  src: url("../../../../../fonts/PantonBlack.eot") format('embedded-opentype'),url("../../../../../fonts/PantonBlack.woff2") format('woff2'),url("../../../../../fonts/PantonBlack.woff") format('woff'),url("../../../../../fonts/PantonBlack.ttf") format('truetype'),url("../../../../../fonts/PantonBlack.svg#PantonBlack") format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PantonLight';
  src: url("../../../../../fonts/PantonLight.eot");
  src: url("../../../../../fonts/PantonLight.eot") format('embedded-opentype'),url("../../../../../fonts/PantonLight.woff2") format('woff2'),url("../../../../../fonts/PantonLight.woff") format('woff'),url("../../../../../fonts/PantonLight.ttf") format('truetype'),url("../../../../../fonts/PantonLight.svg#PantonLight") format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PantonExtraBold';
  src: url("fonts/PantonExtraBold.eot");
  src: url("fonts/PantonExtraBold.eot") format('embedded-opentype'),url("fonts/PantonExtraBold.woff2") format('woff2'),url("fonts/PantonExtraBold.woff") format('woff'),url("fonts/PantonExtraBold.ttf") format('truetype'),url("fonts/PantonExtraBold.svg#PantonExtraBold") format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PantonSemiBold';
  src: url("../../../../../fonts/PantonSemiBold.eot");
  src: url("../../../../../fonts/PantonSemiBold.eot") format('embedded-opentype'),url("../../../../../fonts/PantonSemiBold.woff2") format('woff2'),url("../../../../../fonts/PantonSemiBold.woff") format('woff'),url("../../../../../fonts/PantonSemiBold.ttf") format('truetype'),url("../../../../../fonts/PantonSemiBold.svg#PantonSemiBold") format('svg');
  font-weight: 600;
  font-style: normal;
}

.header-link:hover,
a:hover {
  text-decoration: none;
}

.PantonBlack {
  font-family: 'PantonBlack',sans-serif;
}

.Pantonlight {
  font-family: 'PantonLight',sans-serif;
}

.PantonExtraBold {
  font-family: 'PantonExtraBold',sans-serif;
}

.PantonSemiBold {
  font-family: 'PantonSemiBold';
}

.header {
  height: 10rem;
  text-align: center;
  display: inline-block;
}

.header-left__block,
.header-link,
.header-phone {
  font-family: 'PantonExtraBold',sans-serif;
  color: #363636;
  font-weight: 700;
}

.header-left__block {
  margin-top: 10%;
  font-size: 1.5rem;
}

.header-link,
.header-phone {
  font-size: 1.875rem;
}

.header-link {
  font-family: 'PantonSemiBold';
  font-size: 1.625rem;
  font-weight: 600;
  border-radius: 10px;
  border-width: 2px;
  border-color: #282828;
  border-style: solid;
  padding: 1.2rem;
  width: 263px;
  height: 47px;
}

.header-link:hover {
  color: #363636;
}

.header-link,
.main,
.menu,
.menu li a {
  text-align: center;
}

.menu {
  background-color: #292d30;
  text-decoration: none;
}

.menu li {
  padding-right: 1rem;
  margin-top: 2rem;
  display: inline;
}

.menu li a {
  font-family: 'PantonLight',sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  text-transform: none;
}

.menu li a,
.menu li a:hover {
  color: #fff;
  text-decoration: none;
}

.main {
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
}

.main-logo {
  display: inline-block;
  background: url("../img/BeamLightLogoWhite.svg") no-repeat center center;
  background-size: 100%;
  height: 8rem;
  width: 47rem;
  margin-top: 15rem;
}

.main-text1 {
  font-family: 'PantonBlack',sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
}

.main-text2,
.main-text3 {
  font-family: 'PantonSemiBold';
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.main-text3 {
  line-height: 7rem;
  vertical-align: top;
  margin-top: 5rem;
  text-align: center;
}

.main-text3:after {
  content: url("../img/arrow.svg");
  vertical-align: bottom;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding-top: 0;
}

.main-btn {
  padding: 1.2rem;
  margin-top: 3rem;
  background-color: #059feb;
  width: 350px;
  height: 66px;
  border-radius: 5px;
  font-family: 'PantonExtraBold',sans-serif;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.main-text4 {
  margin-top: 10rem;
  font-family: 'PantonSemiBold';
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}